<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">

  <h1 class="h3 mb-3 fw-normal">Lütfen giriş yapın</h1>

  <div class="form-label-group"> 
    <input type="text" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName"
      class="form-control"  placeholder="Kullanıcı Adı" required autofocus>
    

  </div>
  <div class="form-label-group">

    <input type="password" #password="ngModel" [(ngModel)]="model.password" id="password" name="password"
      class="form-control" placeholder="Şifre" required>
   
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sisteme Giriş</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>